.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 30px;

  width: 940px;

  border-right: none;
  border-bottom: none;
  border-left: none;
}

.title {
  margin: 0;
  padding: 0;

  color: #676770;
  font-size: 24px;
  text-transform: uppercase;
}
