.inputGroup {
  margin: 0;
  padding: 0;

  border: none;
}

.rateName {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 30px;
  padding: 0;

  color: 676770;
  font-size: 18px;
  text-transform: uppercase;
}

.rateSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  width: 383px;
}

.inputName {
  margin: 0;
  margin-right: 5px;
  padding: 0;

  width: 173px;

  color: #676770;
  font-size: 16px;
  text-align: right;
}

.input {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 20px;

  width: 200px;

  border-top: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  border-left: none;
}

.input::placeholder {
  margin: 0;
  padding: 0;

  color:rgba(77, 182, 172, .5);
  font-size: 16px;
}

.inputValueType {
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 0;

  font-size: 16px;
  color: #676770;

  left: 182px;
  top: center;
}

.decorateLine {
  margin: 0 auto;
  padding: 0;

  width: 720px;
  height: 1px;

  background-color: #4db6ac;
}

.addRateBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px;

  color: #676770;
  font-size: 18px;
  text-transform: uppercase;

  background-color: inherit;

  border: 1px solid #30AD64;
  border-radius: 5px;
}

.addRateBtn svg {
  margin-right: 10px;

  width: 25px;
  height: 25px;
}
