.rateGroup {
  margin: 0;
  padding: 0;

  border-top: 1px dotted #676770;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.rateName {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 30px;
  padding: 0 10px;

  color: 676770;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.rateSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.decorateLine {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;

  width: 720px;
  height: 1px;

  background-color: #4db6ac;
}
